<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand" routerLink='/' routerLinkActive='active' >Coding Journal</a>

        <div class="dropdown" *ngIf="accountService.currentUser$ | async" dropdown>
            <a class="dropdown-toggle text-light" dropdownToggle>Welcome user</a>
            <div class="dropdown-menu mt-3" *dropdownMenu>
              <a class="dropdown-item">Edit Profile</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
          </div>

        <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm"  class="row ms-auto"  (ngSubmit)="login()" autocomplete="off">
            <div class="col">
                <input 
                name="username"
                class="form-control mr-sm-2" type="text" 
                placeholder="Username"
                [(ngModel)]="model.username"
                >                
            </div>
            <div class="col">
                <input 
                name="password"
                [(ngModel)]="model.password"
                class="form-control mr-sm-2" 
                type="password" 
                placeholder="Password"
                >                
            </div>
            <div class="col">
                <button class="btn btn-outline-success mr-sm-2" type="submit">Login</button>
            </div>
          </form>
        <!-- <form class="form-inline mt-2 mt-md-0">
            <div class="input-group">
                <input class="form-control mr-sm-2" type="text" placeholder="Username">
                <input class="form-control mr-sm-2"  type="password" placeholder="Password">
                <button class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
            </div>
        </form> -->
    </div>
    
  </nav>